
/* APP STYLES */

.component-task-item input {
    outline: none !important;
}

/* ELEMENT UI OVERRIDES */

form.el-form.el-form--label-top {
    label.el-form-item__label {
        padding: 0 !important;
    }
}

.el-notification__content {
    text-align: left !important;
}

.el-button {
    outline: none !important;
}
